<div class="w-full mx-auto lg:h-1/2 h-2/3 shadow-md  my-10 lg:my-0" id="about">

    <section class="lg:w-3/4 mx-auto h-full flex flex-col lg:flex-row space-y-2 py-2 items-center">
    <div class="w-1/3">
        <img src="/fotos/foto1.jpg" alt="Foto 1" class="w-3/4 hover:shadow-lg duration-300 hover:scale-95 lg:w-2/3 rounded-full mx-auto border-2 border-blue-400">
    </div>

    <div class="lg:w-2/3 w-full">
        <p class="mx-auto text-center text-pretty px-8 ">Estudiante de fotografía en <b>UADE</b>. Mi enfoque está en capturar esos <b>momentos que marcan</b>, transformándolos en recuerdos llenos de <b>emociones y significado</b>. Trabajé junto a <b>TPConcept</b> y participé en eventos <b>privados y sociales</b>, siempre comprometida con reflejar la <b>autenticidad</b> de cada instante. Si estás buscando <b>fotos que cuenten tu historia</b>, escribime.<br/>¡Estoy lista para <b>crear algo especial con vos</b>!

        </p>
    </div>
</section>
    
</div>