<div class="flex justify-around text-lg h-16 shadow-md w-full ">
    <h1 class="hover:cursor-pointer my-auto   hover:opacity-65 duration-200">Victoria Suarez</h1>


    <ul class="flex space-x-16 my-auto">
        <li class="hover:opacity-65 duration-200"><a href="#gallery">Work</a></li>
        <li class="hover:opacity-65 duration-200"><a href="#about">About</a></li>
        <li class="hover:opacity-65 duration-200"><a href="#contacto">Contact</a></li>
    </ul>
</div>  
