<div class="flex flex-col lg:flex-row text-center lg:justify-around text-lg h-16 shadow-md w-full ">

    <h1 class="hover:cursor-pointer my-auto hover:opacity-65 duration-200">Victoria Suarez</h1>


    <ul class="flex justify-center space-x-16 my-auto">
        <li class="hover:opacity-65 duration-200 "><a href="#gallery">Work</a></li>
        <li class="hover:opacity-65 duration-200 "><a href="#about">About</a></li>
        <li class="hover:opacity-65 duration-200 "><a href="#contacto">Contact</a></li>
    </ul>
</div>  
